:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
a {
  /* font-weight: ; */
  color: white;
  font-size: 25px;
  text-decoration: inherit;
}
a:hover {
  color:wheat;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1900px;
}
.producto{
  display: flex;
  border: 1px solid black;
  /* text-align: center; */
  width: 40%;
}

div .img{
  border: 1px solid;
  width: 100%;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add{
  background-color:#009245;
  padding: 1em;
  border-radius: 0.5em;
  color:white;
}

.detalles{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buy{
  display: grid;
  grid-template-columns: 50% 50%;
}
#header{
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  background-color:#009245;
}

